html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #8B8B8B;
  background-color: #FAFAFA;
  line-height: 1.3;
  margin: 0;
}

h1,
h2 {
  color: #000000;
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-top: 10px;
}

h1::after {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background-color: #407BFF;
  margin: 10px auto 0 auto;
}

h2 {
font-size: 16px;
}

p {
  text-align: center;
}

.wrapper {
  padding: 60px 20px;
}

section {
  margin: 60px 0;
}

.hero-image-sloupec {
  text-align: center;
}

.hero-image {
  width: 100%;
  max-width: 350px;
}

.knofliky {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.knofliky .button:not(:last-child) {
  margin-bottom: 10px;
}

.button {
  padding: 11px 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  border-radius: 30px;
  text-decoration: none;
  color: #FAFAFA;
}

.button--prim {
  background-color: #407BFF;
}

.button--sec {
  background-color: #8B8B8B;
}

.obdelnik {
  display: flex;
  box-shadow: 0px 4px 6px #407BFF1F;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-size: 13px;
  color: #8B8B8B;
  font-weight: 300;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.obdelnik:not(last-child) {
  margin-bottom: 15px;
}

.ikonka {
  flex: 0 0 50px;
  margin-right: 23px;
  width: auto;
  height: 40px;
  text-align: center;
}

/* TABLET */

@media screen and (min-width: 540px) {
  
  .hero-image {
    max-width: 400px;
  }

.knofliky {
  flex-direction: row;
  justify-content: center;
}

.knofliky .button:not(:last-child) {
  margin-bottom: 0;
  margin-right: 20px;
}

section {
  margin: 80px 0;
}

.skupina {
  display: flex;
   margin-top: 40px;
}

.obdelnik {
  flex: 0 0 calc((100% - 40px) / 3);
  display: block;
  padding: 30px 20px;
  text-align: center;
}

.obdelnik:not(:last-child) {
  margin-right: 20px;
}
.ikonka {
  margin-bottom: 20px;
}
}

/* DESKTOP */

@media screen and (min-width: 1100px) {

  h1,
  h2,
  p {
    text-align: left;
  }

h1 {
  margin-top: 0;
}

h1::after {
  margin-left: 0;
}

.wrapper {
  max-width: 1040px;
  margin: 60px auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-image-sloupec,
.hero-content-sloupec {
  flex: 0 0 calc((100% - 60px) / 2);
}

.hero-content-sloupec {
  order: 1;
}

.hero-image-sloupec {
  order: 2;
}

.hero-image {
  width: 100%;
  max-width: 425px;
}

.knofliky {
  justify-content: flex-start;
}

.sluzby {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skupina {
  margin-top: 0;
  flex: 0 0 550px;
}

.skupina p {
  text-align: center;
}

.ikonka {
  margin-right: 0;
}

.sluzby-text {
  flex: 0 0 430px;
}

.sluzby-reverz .sluzby-text {
  order: 1;
}

}